<!--XML config file for perhost configuration of simulation. Define per host
     configuration under hostConfig/param tag if you want. The hosts are
     distinguished by "id" attribute of hostConfig tag. The
     hostConfig/transportConfig tag is defined for transport config params of
     the host and hostConfig/appConfig tag is to set WorkloadSynthesizer
     parameters.-->
<topologyConfig>
    <param>
        <numServersPerTor>4</numServersPerTor>
        <numTors>8</numTors>
        <fabricLinkSpeed>40</fabricLinkSpeed> <!--In Gb/s-->
        <nicLinkSpeed>10</nicLinkSpeed> <!--In Gb/s-->
        <fabricLinkDelay>0.0us</fabricLinkDelay>
        <edgeLinkDelay>0.0us</edgeLinkDelay>
        <hostSwTurnAroundTime>0.5us</hostSwTurnAroundTime>
        <workloadType>TEST_DIST</workloadType>
        <interArrivalDist>exponential</interArrivalDist>
        <loadFactor>0.001785714</loadFactor>
        <startTime>0s</startTime>
        <stopTime>9.5s</stopTime>
        <warmup-period>0ms</warmup-period>
        <msgSizeRanges>100 1456 10000 100000 1000000</msgSizeRanges>
    </param>
    <IPv4Configurator>
        <config>
            <interface hosts='**.host[0..3]' address='10.x.0.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[4..7]' address='10.x.1.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[8..11]' address='10.x.2.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[12..15]' address='10.x.3.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[16..19]' address='10.x.4.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[20..23]' address='10.x.5.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[24..27]' address='10.x.6.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[28..31]' address='10.x.7.x' netmask='255.x.x.x'/>
            <interface hosts='**' address='10.x.x.x' netmask='255.x.x.x'/>
            <!--
            <interface hosts='**.host[0..1]' address='10.x.0.x' netmask='255.x.x.x'/>
            <interface hosts='**.host[2..3]' address='10.x.1.x' netmask='255.x.x.x'/>
            <interface hosts='**' address='10.x.x.x' netmask='255.x.x.x'/>
            -->
        </config>
    </IPv4Configurator>

    <!--id attribute is the index of this host in the topology's hosts vector-->
    <hostConfig id="0"> 
        <transportConfig>
        </transportConfig>
        <appConfig>
            <!--if true, this host app will send messages as well-->
            <isSender>false</isSender> 
            <!--the space separated ids of the hosts that this app will send
                 messages to. If empty, it means the sender will send randomly
                 to every other host in the topology. -->
            <destIds></destIds> 
        </appConfig>
    </hostConfig>

    <hostConfig id="1">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>false</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="2">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>false</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="3">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>false</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="4">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="5">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="6">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="7">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="8">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="9">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="10">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="11">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="12">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="13">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="14">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="15">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="16">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="17">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="18">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="19">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="20">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="21">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="22">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="23">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="24">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="25">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="26">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="27">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="28">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="29">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="30">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>

    <hostConfig id="31">
        <transportConfig>
        </transportConfig>
        <appConfig>
            <isSender>true</isSender>
            <destIds>0</destIds>
        </appConfig>
    </hostConfig>
</topologyConfig>
